.clients {
  margin-block: 75px;
  padding-inline: 36px;
  box-sizing: border-box;

  & .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }
}

.clients__logo-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: 36px;
}

.clients__logo-wrapper > img {
  width: 40%;
  max-width: 260px;
}
