* {
  font-family: "Poppins", system-ui;
  font-weight: 400;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

.container {
  width: 100%;
  height: 100%;
  max-width: 1080px;
  margin: auto;
}

.title-md {
  font-size: 48px;
  font-weight: bold;
  line-height: 120%;
  color: white;
}

.title-sm {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 120%;
  color: var(--blue-500);
}

.subtitle {
  font-size: 18px;
  font-weight: bold;
  line-height: 120%;
  color: var(--white);
}

.text-xxl {
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
  color: var(--white);
}

.text-xl {
  font-size: 16px;
  font-weight: 400;
  line-height: 120%;
  color: var(--white);
}

.text-md {
  font-size: 14px;
  font-weight: 400;
  line-height: 120%;
  color: var(--white);
}
.text-sm {
  font-size: 12px;
  font-weight: 400;
  line-height: 120%;
  color: var(--white);
}

.hidden {
  opacity: 0;
}

.dash-right {
  animation: dash-right 1s ease-in forwards;
}

@keyframes dash-right {
  0% {
    opacity: 0.2;
    transform: translateX(-150px);
  }

  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.dash-left {
  animation: dash-left 1s ease-in forwards;
}

@keyframes dash-left {
  0% {
    opacity: 0.2;
    transform: translateX(150px);
  }

  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.dash-up {
  animation: dash-up 1s ease-in forwards;
}

@keyframes dash-up {
  0% {
    opacity: 0.2;
    transform: translateY(150px);
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.dash-down {
  animation: dash-down 1s ease-in forwards;
}

@keyframes dash-down {
  0% {
    opacity: 0.2;
    transform: translateY(-150px);
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
