:root {
  --white: #fff;
  --black: #000;
  --gray-50: #f5f5f5;
  --gray-400: #8a97a6;
  --gray-500: #6b7a8c;
  --gray-600: #566273;
  --gray-800: #3d454f;
  --blue-100: #8cb1ff;
  --blue-500: #063db2;
  --blue-800: #001e5e;
}
